# Rules

--rules \
  andOperator,\
  anyObjectProtocol,\
  blankLinesAroundMark,\
  blankLinesAtEndOfScope,\
  blankLinesAtStartOfScope,\
  blankLinesBetweenScopes,\
  braces,\
  consecutiveBlankLines,\
  consecutiveSpaces,\
  duplicateImports,\
  elseOnSameLine,\
  isEmpty,\
  emptyBraces,\
  enumNamespaces,\
  extensionAccessControl,\
  hoistPatternLet,\
  indent,\
  initCoderUnavailable,\
  leadingDelimiters,\
  linebreakAtEndOfFile,\
  linebreaks,\
  modifierOrder,\
  numberFormatting,\
  preferKeyPath,\
  redundantBackticks,\
  redundantBreak,\
  redundantExtensionACL,\
  redundantFileprivate,\
  redundantGet,\
  redundantInit,\
  redundantLet,\
  redundantLetError,\
  redundantNilInit,\
  redundantObjc,\
  redundantParens,\
  redundantPattern,\
  redundantRawValues,\
  redundantReturn,\
  redundantType,\
  redundantVoidReturnType,\
  semicolons,\
  sortedImports,\
  spaceAroundBraces,\
  spaceAroundBrackets,\
  spaceAroundComments,\
  spaceInsideComments,\
  spaceAroundGenerics,\
  spaceAroundOperators,\
  spaceAroundParens,\
  spaceInsideBraces,\
  spaceInsideBrackets,\
  spaceInsideGenerics,\
  spaceInsideParens,\
  strongOutlets,\
  strongifiedSelf,\
  todos,\
  trailingCommas,\
  trailingSpace,\
  typeSugar,\
  unusedArguments,\
  void,\
  wrapArguments,\
  wrapAttributes,\
  wrapEnumCases,\
  wrapSwitchCases

# Options

## braces
--allman false

## elseOnSameLine
--elseposition same-line
--guardelse next-line

## extensionAccessControl
--extensionacl on-declarations

## fileHeader
--header ignore

## hoistPatternLet
--patternlet hoist

## indent
--indent tabs
--tabwidth 4
--smarttabs disabled
--indentcase false
--ifdef no-indent
--xcodeindentation disabled

--linebreaks lf

## marktypes
--marktypes always
--typemark MARK: - %t
--markextensions always
--extensionmark MARK: - %t + %c
--groupedextension MARK: %c"

--modifierorder \
  public,\
  private,\
  final,\
  override,\
  private(set),\
  convenience,\
  class,\
  static,\
  lazy,\
  weak

## numberFormatting
--decimalgrouping 3
--binarygrouping 4,8
--octalgrouping 4,8
--hexgrouping 2
--fractiongrouping disabled
--exponentgrouping disabled
--hexliteralcase uppercase
--exponentcase uppercase

--redundanttype inferred
--semicolons inline

## sortedImports
--importgrouping alpha

## spaceAroundOperators
--operatorfunc spaced
--ranges spaced

## trailingCommas
--commas always

## trailingSpace
--trimwhitespace always

## typeSugar
--shortoptionals always

## unusedArguments
--stripunusedargs always

## void
--voidtype void

## wrap
--maxwidth none

## wrapArguments
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--wrapreturntype preserve
--wrapconditions preserve

## wrapAttributes
--funcattributes prev-line
--typeattributes prev-line
--varattributes prev-line
